/*All section*/
*{
    margin: 0;
    padding: 0;
}
/*Heading section*/
.logo {
    border-color:#1F2937;
    border-style: solid;
    padding: 0px;
    width: 100px;
    cursor: pointer;
  }
.logo img {
    margin: auto 1px;
    float: left;
    align-items: left;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    background-color: #1F2937;
}
li, a {
    color: #bdbec2;
    text-decoration: none;
}

.nav__links{
    display: flex;
    justify-content: flex-end;
}

.nav__links, li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(255, 255, 255);
}

/*Hero section*/
#section1{
    background: #1F2937;
    display: flex;
}
#section1 .box1{
    margin: 75px;
}
#section1 h1{
    color: white;
    padding: 5px;
    font-size: 48px;
}
#section1 p{
    color:#E5E7EB;
    font-size:18px;
}
box2, img {
    margin: 40px;
    border: 2px solid #ddd;
    border-radius: 4px;
    /*Img styling above*/
}
.button{
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius:10px;
    margin-top:20px;
    background-color: #3882f6;
}

/*Info section*/

#section2 h1{
    text-align: center;
    padding-top: 30px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}
.column img{
    display: inline-block;
    float:left;
    padding: 0px;
    width: 20%;
    height: 20%;
    border-radius: 15px;
    border: 3px solid #3882f6;
    box-sizing: border-box;
}
caption{
    caption-side: bottom;
}

/*Section 3 start*/
#section3 {
    background: #E5E7EB;
    text-align: center;
    margin: 0;
    padding: 50px;
    font-size: 36px;
    float:left;
    font-size: 36px;
    font-style:italic;
   /* height: auto;
    width: 80%;
    border: 2px 2px 2px 2px;
     box-sizing:border-box;
    */
}
footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;

}
/*
    width: 50%;
    height: 50%;
    margin: 40px;
    border-style: solid;
    border-radius: 15px;
    border: 6px solid #3882f6;
    */