/* Header shape and color  */
.row {
    flex-wrap: nowrap;
    background-color: #1F2937;
    padding: 10px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
/* Align header to the right  */
.header-right {
    width: 100px;
    float: right;
    color: #e5e7eb;
    font-size: 18px;
    padding-inline: 0px 20px;
}
.hero {
    DISPLAY: flex;
    flex-wrap: nowrap;
    background-color: #1F2937;
}
img {
    border-radius: 40px;
    width: 600px;
    height: 400px;
    margin-left: auto;
}